
#contacto {
    min-height: 500px;
    max-height: fit-content;
    margin-top: 50px;
    color: #cc2d00;
}

#contacto iframe {
    width: 100%;
    height: 300px;
    padding: 1em;
}

.contenedor-contacto {
    display: grid;
    grid-template-columns: auto auto;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.item-contacto {
    min-width: 400px;
    max-width: 450px;
    padding: 2rem;
}

@media only screen and (max-width: 768px) {
    .contenedor-contacto {
        grid-template-columns: auto;
    }

    .item-contacto {
        min-width: 300px;
    }
}

.tag {
    margin: 1em auto;
    font-weight: 600;
}

.item-contacto p {
    padding: 1em 1em 0;
    text-align: center;
    line-height: 1.5em;
}

#gracias {
    display: none;
    margin: 0 1rem;
    transition: opacity 0.5s;
    font-size: 2rem;
}
#gracias.enabled1 {
    display:initial;
    opacity: 0;
}
#gracias.enabled2 {
    display:initial;
    opacity: 1;
}
.form {
    transition: opacity .5s;
    max-inline-size: 500px;
    margin: auto;
    margin-bottom: 0px;
    border-radius: 5px;
}

.form.disabled1 {
    opacity: 0;
}
.form.disabled2 {
    display: none;
}

.form label {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    padding-inline-start: 0.5em;
}

.form label span {
    text-align: left;
    color: #da1414;
}

.label {
    text-align: left;
}

.form input.error,
.form textarea.error {
    border-color: red;
}

.form input,
.form textarea {
    transition: border-color 1s;
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: 0.2em;
    border-radius: 0.5em;
    border: 2px solid #bbaaa6;
}

.form textarea {
    margin-block-end: 2em;
    font-family: inherit;
    resize: none;
}

input::-webkit-input-placeholder {
    color: #0f0a0a88;
}

#submit-button-container {
    text-align: center;
}
#submit-button {
    transition: opacity 0.2s;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 10px;
    background: linear-gradient(4deg, #7f2005 0%, #CC2D00 33%, #f83838 100%);
    color: white;
}

#submit-button:hover {
    opacity: 0.9;
}
#submit-button.error {
    background: linear-gradient(4deg, rgb(152, 50, 50) 0%, rgb(185, 66, 66) 33%, rgb(233, 99, 150) 100%);
}

.contact {
    margin-block-end: 5em;
}
